.skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills-dropdown {
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid rgba(240, 246, 252, 0.1);
}

.skills-title .skills-subtitle {
    text-align: left;
    margin: 0.5rem 0;
}

.skills-drop-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skills-divisor {
    border-bottom: 1px solid rgba(240, 246, 252, 0.1);
    height: 1px;
    width: 100%;
}

.skills-dropdown {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu {
    overflow-y: auto;
    max-height: 350px;
    transition: 0.5s linear;
}

.menu.active {
    max-height: 0;
    pointer-events: none;
    transition: max-height 0.5s linear;
}

.menu.bactive {
    display: block;
}

.button-active {
    transition: 0.5s linear;
    display: block;
}

.button-inactive {
    transition: 0.5s linear;
    display: block;
    rotate: -180deg;
}
