.skills-title {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 0.75rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
}

.skills-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 1024px) {
    .skills-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 4;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        justify-content: space-around;
    }
}
