.project-card {
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    text-decoration: none;
}

.project-card img {
    opacity: 0.8;
}

.project-card img:hover {
    opacity: 1;
}

.project-card > img {
    margin-bottom: 0.75rem;
    width: 100%;
    border-radius: 10px;
}

.project-card-content {
    padding: 0 0.75rem;
}
