.project-card {
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    text-decoration: none;
}

.project-card .project-card-image {
    opacity: 0.8;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.project-card .project-card-image:hover {
    opacity: 1;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.project-card .project-card-image {
    margin-bottom: 0.75rem;
    width: 100%;
    border-radius: 10px;
}

.project-card-content {
    padding: 0 0.75rem;
}

.project-card-content .card-text {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 800px) {
    .project-card {
        flex-basis: 65%;
    }
}
