.networks-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.networks-wrapper .social-icons {
    list-style: none;
}

.social-icon {
    color: #e8f1f2;
    transition: 0.5s;
}

.social-icon:hover {
    color: #57a4fc;
    transition: 0.5s;
}
