.button-46 {
    align-items: center;
    background-color: #0e171c;
    margin-top: 1rem;
    border-radius: 1em;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    box-shadow: rgb(255 255 255) 0px 0px 1.2px inset, rgb(255 255 255 / 10%) 0px 0px 14.1107px inset;
}

.button-46 a {
    text-decoration: none;
}

.button-46:active,
.button-46:hover {
    outline: 0;
}

.button-46:hover {
    opacity: 0.6;
}

.btn-title {
    letter-spacing: 0.05em;
    font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 768px) {
    .button-46 {
        min-width: 200px;
        padding: 14px 16px;
    }
}
