.carousel-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    width: 12px;
}

.carousel::-webkit-scrollbar-track {
    background: #006494; /* color of the tracking area */
    border-radius: 20px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #1b98e0; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #006494; /* creates padding around scroll thumb */
}

.carousel-button {
    cursor: pointer;
}

.carousel-button .icon:hover {
    color: #1b98e0 !important;
}