.projects-container {
    height: auto;
    width: 100%;
    flex-direction: column;
}

.projects-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.content-title {
    margin-bottom: 0.5rem;
}

.projects-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.drag-text {
    display: flex;
    justify-content: flex-end;
    color: white;
}
