.close-modal-button {
    position: absolute;
    margin-right: 1rem;
    margin-top: 0.5rem;
    right: 0;
    top: 0;
    cursor: pointer;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(100px);
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(100px);
}

::-webkit-scrollbar {
    width: 0px;
}
