.navbar {
    font-weight: bold;
}

.navbar li {
    text-decoration: none;
    margin: 30px 0;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    color: #01fbfb;
    transform: translate3d(0, -80px, 0);
}
