

/* .navbar {
    background-color: #0e171e;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
}

.nav-list a:hover {
    color: #05c6ee;
}

.nav-list .nav-margin {
    margin-right: 2rem;
} */
