.container {
    width: 100%;
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel-button {
    cursor: pointer;
}

.carousel-button .icon:hover {
    color: #1b98e0 !important;
}
