.skill-card {
    height: auto;
    width: 150px;
    padding: 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    transition: 0.5s;
}

.skill-card:hover {
    scale: 1.02;
    transition: 0.5s;
    background: rgba(9, 20, 26, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.skill-card .skill-card-image {
    width: 50px;
    height: 50px;
}

.skill-card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill-title {
    font-size: 1rem;
    margin: 0.2rem 0;
}

.skill-desc {
    font-size: 0.8rem;
    margin: 0.2rem 0;
}
