.skill-card {
    height: auto;
    width: 300px;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill-card .skill-card-image {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.skill-card-content {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 230px;
}

.skill-title {
    font-size: 1rem;
    margin: 0.2rem 0;
}

.skill-desc {
    font-size: 0.8rem;
    margin: 0.2rem 0;
}
