.divisor {
    height: 0.5rem;
    background-color: #05c6ee;
}

.footer-background {
    background-color: #000;
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
}

.copyright {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    max-width: 900px;
}

.copyright {
    margin: 2rem 0;
}

.contacts-social {
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: 630px) {
    .footer-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts-social {
        width: 100%;
        margin-bottom: 1rem;
    }
}
