.footer {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: #9c9386 !important;

    letter-spacing: 0.1rem;
}
