.main-content {
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/me.jpg');
    background-size: cover;
}

.card {
    height: auto;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3rem;
}

.avatar-card {
    width: 100%;
    height: 100%;
}

.social-networks-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.social-networks-card {
    width: 100%;
}

.card-content {
    width: auto;
    height: 100%;
}

.text-content {
    text-justify: inter-character;
    height: 100%;
    width: 50%;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.social-networks-wrapper {
    width: 80%;
}

.my-name {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.first-about {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.button-roll-down {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.button-roll-down {
    transform: translateY(-20%);
    animation: floater 2s infinite;
    transition: ease 1s;
}

.button-roll-down a:after {
    content: '';
    border-radius: 50px;
    bottom: -5px;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #b7cccf;
    transition: 0.3s;
}

.button-roll-down a:hover::after {
    width: 100%;
    height: 2px;
    background-color: #b7cccf;
}

.button-roll-down-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .text-content {
        width: 100%;
        text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    }

    .button-roll-down {
        display: none;
    }

    .main-content {
        background-position: 25% 75%;
    }

    .main-content {
        background-image: url('../../assets/me2.jpg');
    }
}

@media only screen and (max-width: 600px) {
    .main-content {
        background-position: 40% 60%;
    }
}

@media only screen and (max-width: 400px) {
    .main-content {
        background-position: 50% 50%;
    }
}
