.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/me.jpg');
    background-size: cover;
}

.card {
    height: auto;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3rem;
}

.avatar-card {
    width: 100%;
    height: 100%;
}

.social-networks-card {
    width: 100%;
}

.card-content {
    width: auto;
    height: 100%;
}

.text-content {
    text-justify: inter-character;
    height: 100%;
    width: 50%;
}

.my-name {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.first-about {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.button-roll-down {
    position: absolute;
    bottom: 100px;
}

.button-roll-down {
    transform: translateY(-20%);
    animation: floater 2s infinite;
    transition: ease 1s;
}

.button-roll-down a:after {
    content: '';
    border-radius: 50px;
    bottom: -5px;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #57a4fc;
    transition: 0.3s;
}
.button-roll-down a:hover::after {
    width: 100%;
    height: 2px;
    background-color: #57a4fc;
}

@media only screen and (max-width: 850px) {

    .card-content {
        padding-top: 7rem;
    }

    .button-roll-down {
        display: none;
    }
}

