.main-content {
    height: 100vh;
    background-color: rgb(19, 41, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: auto;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-networks-card {
    width: 100%;
}

.avatar-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.card-content {
    width: auto;
    height: 100%;
}

.text-content {
    text-justify: inter-character;
    height: 100%;
    width: 100%;
}

.my-name {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.first-about {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.button-roll-down {
    position: absolute;
    bottom: 100px;
}

@keyframes floater {
    0% {
        transform: translateY(-20%);
        transition: ease 1s;
    }
    50% {
        transform: translateY(20%);
        transition: ease 1s;
    }
}

.button-roll-down {
    transform: translateY(-20%);
    animation: floater 2s infinite;
    transition: ease 1s;
}

@media only screen and (max-width: 850px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 2rem;
    }

    .button-roll-down {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .text-content {
        padding: 1rem;
    }
}
