.mini-card-container {
    height: 100%;
}

.mini-card {
    display: flex;
    width: 450px;
    max-width: 540px;
    max-height: 340px;
    height: 80%;
    border-radius: 1em;
    box-shadow: 0 0 0 1px transparent;
    background-color: rgba(9, 20, 26, 0.8);
    margin: 1px;
    transition: background-color 0.15s, box-shadow 0.15s;
    box-shadow: rgb(255 255 255) 0px 0px 1.2px inset, rgb(255 255 255 / 10%) 0px 0px 14.1107px inset;
}

.mini-card-image {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: flex-end;
}

.mini-card-image .avatar-img {
    margin-left: 2rem;
    height: 75%;
}

.mini-card-content {
    width: 55%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
}

.content-text {
    height: 100%;
    letter-spacing: 0.3em;
    color: #fff;
    font-size: 0.6rem;
    padding: 0.825rem 0;
}

.content-text .mini-card-text {
    font-size: 0.8rem;
}

.centered {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    color: #7add78;
}

.value {
    color: #9cd1fc;
}

.number-value {
    color: #359cee;
}

@media only screen and (max-width: 331px) and (min-width: 0) {
    .mini-card {
        width: 240px;
        height: 130px;
    }

    .content-text .mini-card-text {
        font-size: 0.3rem;
    }
}

@media only screen and (max-width: 358px) and (min-width: 331px) {
    .mini-card {
        width: 270px;
        height: 160px;
    }

    .content-text .mini-card-text {
        font-size: 0.3rem;
    }
}

@media only screen and (max-width: 480px) and (min-width: 358px) {
    .mini-card {
        width: 300px;
        height: 180px;
    }

    .content-text .mini-card-text {
        font-size: 0.4rem;
    }
}

@media only screen and (max-width: 625px) and (min-width: 481px) {
    .mini-card {
        width: 350px;
        height: 200px;
    }

    .content-text .mini-card-text {
        font-size: 0.5rem;
    }
}
