.mini-card-container {
    height: 100%;
}

.mini-card {
    width: 450px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    border-radius: 1em;
    box-shadow: 0 0 0 1px transparent;
    background-color: rgba(9, 20, 26, 0.8);
    margin: 1px;
    transition: background-color 0.15s, box-shadow 0.15s;
    /* box-shadow: rgb(255 255 255) 0px 0px 1.2px inset, rgb(255 255 255 / 10%) 0px 0px 14.1107px inset; */
}

.mini-card-image {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.mini-card-image .avatar-img {
    margin-left: 2rem;
    height: 250px;
}

.mini-card-content {
    font-family: 'Ubuntu', sans-serif;
}

.content-text {
    padding: 0.825rem 0;
}

.content-text .mini-card-text {
    font-size: 0.825rem;
    letter-spacing: 0.1em;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    color: #7add78;
}

.value {
    color: #9cd1fc;
}

.number-value {
    color: #359cee;
}

@media only screen and (max-width: 651px) {
    .mini-card-image .avatar-img {
        margin-left: 1rem;
    }

    .content-text .mini-card-text {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 651px) and (min-width: 500px) {
    .mini-card {
        width: 350px;
        height: 220px;
    }

    .mini-card-image .avatar-img {
        height: 180px;
    }
}

@media only screen and (max-width: 500px) and (min-width: 375px) {
    .mini-card {
        width: 300px;
        height: 200px;
    }

    .mini-card-image .avatar-img {
        height: 160px;
    }

    .content-text .mini-card-text {
        letter-spacing: 0em;
    }
}

@media only screen and (max-width: 375px) and (min-width: 0px) {
    .mini-card {
        width: 270px;
        height: 180px;
    }

    .mini-card-image .avatar-img {
        height: 140px;
    }

    .content-text .mini-card-text {
        font-size: 0.6rem;
        letter-spacing: 0em;
    }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
    .mini-card {
        width: 270px;
        height: 180px;
    }

    .mini-card-image .avatar-img {
        height: 140px;
    }

    .content-text .mini-card-text {
        font-size: 0.6rem;
        letter-spacing: 0em;
    }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
    .mini-card {
        width: 250px;
        height: 165px;
    }

    .mini-card-image .avatar-img {
        height: 130px;
    }

    .content-text .mini-card-text {
        font-size: 0.6rem;
        letter-spacing: 0em;
    }
}
