#wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.navbar-center {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1170px;
    width: 70vw;
}
