* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('https://readyplayer.me/images/home/bg-noise.png');
    background-repeat: reapeat-y;
    background-color: rgb(50, 51, 62);
    color: rgb(196, 197, 204);
    width: 100%;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: scroll !important;
}

p,
li,
h1,
h2,
h3,
a {
    text-decoration: none;
    color: #9c9386;
}

p {
    font-size: 1rem;
    color: #f1ffff;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.primary {
    color: #05c6ee;
}

.secondary {
    color: #f1ffff;
}

.tertiary {
    color: #9c9386;
}

::-moz-selection {
    /* Code for Firefox */
    backgroundcolor: #05c6ee;
    color: #9c9386;
}

::selection {
    background: #05c6ee;
    color: #9c9386;
}
