* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
}

html {
    scroll-behavior: smooth;
}

body {
    background-repeat: reapeat-y;
    background-color: rgb(19, 41, 61);
    width: 100%;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

p,
li,
h1,
h2,
h3,
a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1rem;
    color: rgb(241, 243, 240);
}

.content-title {
    font-size: 2rem;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.content-subtitle {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.primary {
    color: #1b98e0;
}

.secondary {
    color: #e8f1f2;
}

.tertiary {
    color: #006494;
}
::-moz-selection {
    /* Code for Firefox */
    /* backgroundcolor: #05c6ee;
    color: #9c9386; */
}

::selection {
    /* background: #05c6ee;
    color: #9c9386; */
}

.link-hover {
    cursor: pointer;
    color: #1b98e0;
}

.link-hover:hover {
    color: #006494;
}

.title {
    padding-top: 3rem;
}
