.contacts-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contacts-content {
    width: 100%;
    height: auto;
    display: flex;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    height: auto;
}

.contacts-title {
    margin-bottom: 3rem;
}

.contacts-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 0.5rem;
}

.contact-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.contacts-social-networks {
    padding: 1rem 0;
    height: 80%;
}

.send-email {
    width: 40%;
    min-width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-style {
    border: none;
    height: 2rem;
    background-color: #006494;
}

.form-style::placeholder {
    margin-left: 0.5rem;
    color: black;
}

.form-content {
    display: flex;
    flex-direction: column;
    background-color: #006494;
    margin: 0.5rem 0;
}

.form-label {
    padding: 0.5rem 0.5rem 0 1rem;
}

.textarea {
    height: 6rem;
}

.form-button {
    margin-top: 1rem;
}

input {
    margin-left: 1rem;
    color: #e8f1f2;
    background-color: #006494;
    line-height: 2;
}

input:focus {
    outline: none;
}

textarea {
    margin-left: 1rem;
    color: #e8f1f2;
    background-color: #006494;
    line-height: 2;
}

textarea:focus {
    outline: none;
}

@media only screen and (max-width: 865px) {
    .contacts-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .contacts-wrapper {
        display: flex;
        width: 100%;
        height: auto;
    }

    .contacts-info {
        width: 40%;
        min-width: 280px;
        margin: 1rem 0;
        padding: 2rem;
    }

    .send-email {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .form {
        width: 80%;
        max-width: 450px;
    }

    .contacts-social-networks {
        height: 250px;
        padding: 3rem 2rem 0 0;
    }
}
